# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
dist

# testing
**/coverage

# linting
.eslintcache

# misc
.idea
.vscode
.DS_Store
.env
.yarn

npm-debug.log*
